:root{
    --bg-color: #222327;
    --text-color: #fff;
    --main-color: #29fd53;
}

.card{
    width:212.39px;
    height: 301px;
    border-radius: 5px;
    background-color: #4C608526;
}

.cracker{
    height: 63px;
    width: 63px;
}

.logo{
    height: 25px;
    width: 25px;
}

.price-text{
    color: white;
    width: 172.39px;
    height: 21px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.desc-text{
    color: rgb(184, 180, 180);
    font-size: 0.7rem;
    width: 172.39px;
    height: 30px;
    
}

.row1{
    display: flex;
    margin-top: 15px;
}

.row2{
    display: flex;
    margin-left: 15px;
}

.row3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 20px;
}

.row4{
    margin-left: 10px;
}



.row5{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

.card1{
    margin-left: 15px;
    width:212.39px;
    height: 301px;
    border-radius: 5px;
    background-color: #4C608526;
    margin-bottom: 10px;
}

.cardf{
    width:212.39px;
    height: 301px;
    border-radius: 5px;
    border-radius: 5px;
    background-color: #4C608526;
    margin-top: 20px;
}

.card2{
    margin-left: 15px;
    width:212.39px;
    height: 301px;
    border-radius: 5px;
    background-color: #4C608526;
    margin-top: 20px;
}

.label{
    width: 50%;
    width: 62.02px;
    height: 21px;
    background: #39E29D0D;
    margin-top: 10px;
    margin-left: 10px;
}

.label label{
    width: 62.02px;
    height: 21px;
    color: #29fd53;;
}

.input{
    width: 50%;
    padding-left: 50px;
}

.input input{
    width: 55px;
    height: 40px;
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: #4C608533;
    padding-left: 5px;
}

.btn-details{
    width: 86.19px ;
    height: 40px ;
    background-color: #4C608533;
    border: none;
    margin-bottom: 200px;
    border-radius: 5px;
    color: var(--text-color);
}

.btn-add{
    width: 82.19px;
    height: 40px;
    background-color: rgb(75, 86, 190);
    border: none;
    margin-bottom: 200px;
    border-radius: 5px;
    color: var(--text-color);
}

.add{
    margin-bottom: 200px;
}

.add i{
    padding-left: 10px;
    font-size: 15px;
}

.details{
    margin-bottom: 200px;
}

.label label{
    width: 62.02px;
    height: 21px;
    font-size: 10px;
    color: #39E29D;
    padding-left: 10px;
    padding-top: 4px;
}

.label{
    display: flex;
    justify-content: center;
}

